#Number1{
    background-color: blue;
    width: 25%;
    height: 80px;
}
#Number2{
    background-color: red;
    width: 25%;
    height: 80px;
}
#Number3{
    background-color: green;
    width: 25%;
    height: 80px;
}